
<% include ../partials/boilerplate %>


<h1>Register An Account!</h1>

<% if (messages.length) { %>
    <ul class="errors">
    <% messages.forEach(message => { %>
      <li><%= message %></li>  
    <% }); %>
    </ul>
 <% } %>

<form method="POST" action="/auth/register">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="username" name="username" required>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="email" placeholder="email" name="email" required>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" name="password" required>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <input type='submit' value='Regiser!' class="button is-success" />
    </p>
  </div>
</form>
<% include ../partials/end %>