<% include ./partials/boilerplate.ejs%>
    <div id="index">
        <img src="Smiling_Face_Emoji_large.png" alt="">
        <button class="button is-warning"><a href="/auth/login">Login</a></button>
        <button class="button is-success"><a href="/auth/register">Register</a></button>
    </div>
    <% include ./partials/end.ejs %>
