Hey <%= user.username %>

<form method="POST" action="/users/profile?_method=DELETE">
    <div class="field">
      <p class="control">
        <input type='submit' value='Logout?' class="button is-success" />
      </p>
    </div>
  </form>